html {
  background-color: #fefefe;
}
body {
  font-family: "Open Sans";
  color: #454545;
  font-size: 16px;
  margin: 1em auto;
  max-width: 800px;
  padding: 1em;
  line-height: 1.4;
  text-align: justify;
}
header {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 20px;
  word-spacing: 15px;
  text-align: center;
  margin-bottom: 20px;
}
header a {
  color: #454545;
}
a {
  text-decoration: none;
}
.oneline {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.tag,
.time {
  color: #505050;
  font-style: italic;
  font-size: 12px;
}
li.file-item {
  margin-bottom: 15px;
  list-style-type: none;
}
li.file-item a.name {
  color: #07A;
}
div.file-item div.name,
div.file-item div.time {
  text-align: center;
}
